@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0a192f;
  --color-secondary: #64ffda;
  --color-text: #ccd6f6;
  --color-textLight: #8892b0;

  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  overflow: hidden;
  /* For scroll hijacking */
  font-family: var(--font-sans);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 4px;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-slide {
  animation: fadeSlideIn 0.6s ease-out forwards;
}